* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}

/* NAVBAR */
#navbar {
  background-color: #008aa6;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #ffffff;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

#navbar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
#navbar ul li {
  margin: 0.5em;
  font-size: 1.5em;
}

.fab {
  color: white;
}

/* ABOUT */
#about {
  background-color: hsl(190, 100%, 33%);
  color: #ffffff;
  padding: 2em 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content h1 {
  font-size: 2em;
  margin-bottom: 0.7em;
}

.content p {
  font-size: 1.3em;
  margin-bottom: 1em;
  font-weight: 500;
}

.content button {
  background-color: #008aa6;
  color: #ffffff;
  border: solid 2px #ffffff;
  font-size: 1.4em;
  padding: 0.5em;
  border-radius: 5px;
  margin-bottom: 1em;
  font-weight: 700;
}

.content img {
  width: 80%;
  border-radius: 50px;
}

#tech-stack {
  display: flex;
  justify-content: center;
  color: #008aa6;
  background-color: #ffffff;
  margin: 2em 0;
}

.technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5em;
  width: 70%;
}

.technologies div {
  margin: 0.5em 0;
}

.technologies h1 {
  margin-bottom: 0.2em;
}

/* PROJECTS SECTION */

#projects {
  background-color: #008aa6;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}

#projects h1 {
  font-size: 2.5em;
  margin-bottom: 1em;
}

.project-list {
  text-align: center;
}

.project-list img {
  width: 90%;
  margin-bottom: 0.5em;
}

.project-list h2 {
  margin-bottom: 0.5em;
  font-size: 2em;
}

.project-list h3 {
  margin-bottom: 1em;
  font-size: 1.5em;
}

.project-link {
  margin-bottom: 3em;
}

.project-link a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.4em;
  background-color: #ffffff;
  color: #008aa6;
  padding: 0.5em;
  border-radius: 10px;
  text-align: center;
  margin: 0 0.3em;
  font-weight: 800;
}

#contact {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #008aa6;
  font-size: 1.5em;
  text-align: center;
  padding: 2em 0;
}

#contact h1 {
  margin-bottom: 1em;
}
#contact p {
  margin-bottom: 1em;
}

#contact button {
  background-color: #008aa6;
  color: #ffffff;
  border: solid 2px #ffffff;
  font-size: 1em;
  padding: 0.5em;
  border-radius: 5px;
  margin-bottom: 1em;
  font-weight: 700;
}

#contact ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}

#contact li {
  margin: 0 1em;
}

#fab-blue {
  color: #008aa6;
  font-size: 1.5em;
}

footer {
  text-align: center;
  font-size: 1.2em;
  background-color: #008aa6;
  color: #ffffff;
  padding: 1em 0;
}

/* Media Querry */

@media (min-width: 700px) {
  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
  .content .image img {
    width: 100%;
  }
  .content .text {
    width: 50%;
  }
  .content .text p {
    width: 70%;
  }
  .project-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .container {
    max-width: 70%;
  }
}
